@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: Lato, sans-serif;
    background: url(images/plan-page.jpg);
    font-size: 16px;
    width: 1180px;
    margin: auto;
}

section {
    margin: auto;
    text-align: center;
}

article {
    background: #262626;
    display: inline-block;
    margin: 80px 20px 0 20px;
    border: 5px solid #42424242;
    color: #1a1a1a;
    width: 25%;
}

article >h1 {
    font-size: 1.5em;
    color: #FFF;
}

.price{
   font-size: 3em;
   font-weight: bold;
   color: #27dcc4;
}

ul{
    padding: 0px;
}

button{
    background: #27dcc4;
    color: #FFF;
    padding: 15px 30px;
    margin: 10px 0;
    font-size:0.9em;
    cursor: pointer;
    border: none;
}
button:hover{
    background: #ACACAC;
}

li {
    list-style-type: none;
    padding: 5px 0px;
}

body>h1{
    text-align: center;
    color: #27dcc4;
    font-size: 48px;
}
